:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --color-success:#1B9C85;
}
/* navbar-up */
.navbar-up {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  gap: 30rem;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
/* buscador */
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  /* width: 100%; */
  
}
  /* Logo del logout login */

.navbar-up img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

/* boton de buscar paciente */
.search-button {
  background-color: transparent;
  border: 2px solid green;
  border-radius: 20px;
  color: green;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: var(--color-success);
  color: white;
  transform: translateY(-2px);
}

.content_fex{
  display: flex;
  gap: 1rem;
 }
 @media all and (max-width: 900px) {
  /* navbar-up */
  .navbar-up {
    width: 136%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
  
  }
  /* boton de buscar paciente */
  .search-button {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 20px;
    color: green;
    padding: 1px 2px;
    font-size: 12px;
    
  }
  /* buscador */
  .search_bar input {
    height: 100%;
    width: 60%;
    border-radius: 25px;
    font-size: 12px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
  }
  .search_bar {
    height: 47px;
    margin-left: 6rem;
    /* width: 100%; */
  }
    .content_fex{
      display: flex;
      gap: 0rem;
     }

}
@media all and (max-width: 767px) {
  /* navbar-up */
    .navbar-up {
      width: 136%;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      padding: 15px 30px;
    
    }
    /* boton de buscar paciente */
    .search-button {
      background-color: transparent;
      border: 2px solid green;
      border-radius: 20px;
      color: green;
      padding: 1px 0px;
      font-size: 12px;
      
    }
    /* buscador */
    .search_bar input {
      height: 100%;
      width: 60%;
      border-radius: 25px;
      font-size: 12px;
      outline: none;
      background-color: var(--white-color);
      color: var(--grey-color);
      border: 1px solid var(--grey-color-light);
      padding: 0 20px;
    }
    .search_bar {
      height: 47px;
      margin-left: 2rem;
      /* width: 100%; */
  }
    .content_fex{
      display: flex;
      gap: 0rem;
     }
}